{% extends "core/layout.twig" %} 
{% set title = "AxiomSL" %} 
{% set class = "frontpage" %} 
{% block body %} 
<main class="main-content">
    {% include 'slides/slide.twig' %}  
</main>
{% endblock %}
{% block scripts %}
{% endblock %}
